	<td><%= link_to "Printable Sow (PDF)", :controller => "statement_of_works", :action => "show", :id => @statement_of_work, :format => "pdf" %></td>
<h1><p align="center"><b>ENGINE YARD</b></p>
<p align="center" ><b>STATEMENT OF WORK</b></p></h1>
<p align="justify">
 This Statement of Work (<q>SOW</q>) is entered into between<b> <%=h @statement_of_work.company.name  %> </b>(<q>Customer</q>) and Engine Yard, Inc. (<q>Engine Yard</q>). This SOW, and all future Service Order Forms (including SOWs) between Customer and Engine Yard are subject to the Engine Yard Terms of Service (<q>the Terms of Service</q>), as may be updated from time to time, which is incorporated herein by reference.  The Terms of Service is available for review by Customer at http://www.engineyard.com/.  Capitalized terms used herein have the same meaning as used in the Terms of Service, if not defined herein. If Customer and Engine Yard have executed a separate written document defining the terms of service, this SOW shall be subject to the terms of that executed document. Any Sections and/or Tables in the Terms of Service related to customer termination, service levels, support ticketing, and service credits do not apply to this SOW.  The Additional Terms section of this SOW applies only if Customer and Engine Yard have executed a separate written document defining the terms of service and such document does not include terms specific to the provision of professional services. In consideration of the covenants and representations made herein, the parties hereby agree to the following:
  
</p>

<p>
<b> SOW Scope</b>
  <br>
  <%= @statement_of_work.scope %>
</p>

<p align="justify">
 <b>Project Management</b><br>
Customer and Engine Yard shall each appoint a project manager (<q>Project Manager</q>) to act as a designated contact for the parties in connection with this SOW. The parties shall seek to preserve a consistent Project Manager for each SOW, but either party may change their Project Manager upon written notice to the other party.  Any desired change in the scope of this SOW will require a new SOW to be executed between Customer and Engine Yard documenting that revised scope. The Project Managers for this SOW are:
<br><br>
Customer Project Manager:  

<%=h @statement_of_work.company_contact.name %>

<br><br>
Engine Yard Project Manager:  

<%=h @statement_of_work.engine_yard_contact.name %>

</p>

<p align="justify"> <b>Fees</b><br>
This SOW will be provided to Customer on a time and materials basis with Engine Yard time charged at $250 per hour. Based upon Engine Yard's current understanding of the project requirements, it is estimated that this project will take <b><%=h @statement_of_work.no_hours %></b> hours of Engine Yard time. The estimated fee for this project is  <b> <%=h number_to_currency(@statement_of_work.est_fee) %></b>. 
</p>


<p align="justify">
  <b>Additional terms:</b>
 <br>
  <%= @statement_of_work.add_terms %>
  <br> 

Engine Yard will use commercially reasonable efforts to perform the services associated with this SOW.  Customer shall make available in a timely manner at no charge to Engine Yard all data, programs, documentation, or other information and resources required by Engine Yard for the performance of this SOW.  Customer shall be responsible for, and assumes the risk of any issues or problems resulting from, the content, accuracy, completeness or consistency of all such data, programs, documentation, or other information and resources supplied by Customer. Upon notification by Engine Yard of the completion of this SOW, Customer shall review such completed services solely to determine if such services have been performed in accordance with the applicable specifications set forth in this SOW. Customer shall either accept or reject such services in writing within three days after notification by Engine Yard of the completion of such services.  Customer may reject such services only if such services do not conform to the specifications set forth in this SOW.  If Customer rejects any services, Customer shall provide, at the time of rejection, a written statement to Engine Yard that identifies in reasonable detail, any nonconformity with the applicable specifications. With respect to any services for which Engine Yard has not received a written notice of nonconformity prior to the expiration of the three day period, Customer shall be deemed to have accepted such services.  If Customer properly rejects any services, Engine Yard shall use commercially reasonable efforts to correct confirmed nonconformities for such services that are specified in such written statement and to redeliver such services to Customer.  Upon any such redelivery of any services, the foregoing provisions shall be reapplied until such services are accepted by Customer, provided, however, that upon the third or any subsequent proper rejection of the same services for the same nonconformity, Customer's sole and exclusive remedy shall be to elect one of the following options in writing within three days after such rejection: (1) request that Engine Yard continue to attempt to correct and redeliver such services, in which case the above process shall be repeated; (2) notify Engine Yard that it accepts the services despite any nonconformities; or (3) terminate the applicable purchase of such nonconforming services, in which case (A) Customer shall not be obligated to make any payment associated with the nonconforming services, or in case payment has already been made for such non-conforming services, Customer shall be entitled to a refund of such payment, (B) all payments made or required to be made for any conforming services or any other Services shall remain non-refundable and non-creditable. Engine Yard may decide, in its sole discretion, to subcontract with third parties for the performance of all or some of the services. Customer hereby agrees that Engine Yard may cooperate with, and share Customer information with, any such third parties as reasonably necessary in relation to the performance of the services.
</p>

<br>
<p>IN WITNESS WHEREOF, Customer and Engine Yard have each caused this SOW to be signed and delivered by its duly authorized officer, as of the last date set forth below.</p>
<br>
<table id="t3" , width=100% ,border="0" background="ffffff">
<tr>
<td width=50%><h5>FOR CUSTOMER</h5></td>
<td width=50%><h5>FOR ENGINE YARD</h5></td>
</tr>
<tr>
<td>Name: ___________________________________</td>
<td>Name:	___________________________________</td>
</tr>
<tr>
<td>Title: ____________________________________</td>
<td>Title:	____________________________________</td>
</tr>
<tr>
<td>Date:	____________________________________</td>
<td>Date:	____________________________________</td>
</tr>
<tr>
<td>Signature: ________________________________</td>
<td>Signature: ________________________________</td>
</tr>
</table> 
<br>
<%= link_to 'Edit', edit_statement_of_work_path(@statement_of_work) %> |
<%= link_to 'Back', statement_of_works_path %>